body {
    font-family: 'Poppins', sans-serif;
    background-color: #242329;
    place-items: center;
    
    
}
img{
    position: absolute;
    left: 210px;
    top: 300px;
    width: 35vw;
    
}